{{> layout/header}}

<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>상품수정 페이지</h1>
        <form action="/store/{{model.id}}/update" method="post">
            <input type="hidden" name="id" value="{{model.id}}">
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">상품명</label>
                <input type="text" class="form-control" id="name" name="name" value="{{model.name}}" required>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">재고</label>
                <input type="number" min="1" class="form-control" id="stock" name="stock" value="{{model.stock}}" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="price" class="form-label">가격</label>
                <input type="number" min="1" class="form-control" id="price" name="price" value="{{model.price}}" required>
            </div>
            <button type="submit" class="btn btn-primary">상품수정</button>
        </form>
    </div>
</div>

</body>
</html>